<!-- mesa/templates/mesa/partials/htmx_componentes/item_list_cozinha.html -->
{% if itens_calculados %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens_calculados %}
            <tr>
                <td>{{ item.nome_produto }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.descricao|default:"N/A" }}</td> <!-- Descrição para a cozinha, se houver -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'mesa:enviar_para_cozinha' mesa.id %}" class="btn btn-warning mt-3">Enviar para Cozinha</a>
{% else %}
    <p>Nenhum item adicionado.</p>
{% endif %}
