<!-- mesa/templates/mesa/partials/htmx_componentes/lista_mesas.html -->
{% if mesas_abertas %}
    <h2 style="color:green;">Pedido(s) em andamento</h2>
    <div class="row">
        {% for mesa in mesas_abertas %}
            <div class="col-12 col-md-2">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center">
                        <a href="{% url 'mesa:abrir_mesa' mesa.id %}" class="abrir-mesa-link" style="color: white;">Ver pedido</a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center">{{ mesa.nome }}</h5>
                      <p class="card-text text-center">Pedido: {{ mesa.pedido }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if mesas_fechadas %}
    <h2>Mesas Fechadas</h2>
    <div class="row">
        {% for mesa in mesas_fechadas %}
            <div class="col-12 col-md-2">
                <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center">
                        <a href="{% url 'mesa:abrir_mesa' mesa.id %}" class="abrir-mesa-link" style="color: white;">Abrir</a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center">{{ mesa.nome }}</h5>
                      <p class="card-text text-center">Pedido: {{ mesa.pedido }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}


